.carousel {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.item {
  border-left: solid 3px #303030;
  border-right: solid 3px #303030;
}

@keyframes moving {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -191px;
  }
}

.container.moving {
  animation-name: moving;
  animation-duration: 300ms;
}
