.movies {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.movies .item {
  margin: 20px 10px;
  box-shadow: -5px -5px 15px #303030;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
}
