.detail {
  background-color: transparent;
  color: var(--gray);
  width: 100%;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
}

.image {
  grid-area: 1 / 2 / 5 / 3;
  margin-top: -150px;
  position: relative;
}
.info {
  grid-area: 1 / 1 / 2 / 2;
}
.overview {
  grid-area: 2 / 1 / 3 / 2;
}

.backButton {
  font-size: 16px;
  padding: 6px 12px;
  margin: 2rem auto 2rem 2rem;
  border-radius: 5px;
  grid-area: 3/1/4/1;
}

@media screen and (max-width: 768px) {
  .image {
    grid-area: 1 /2 / 3 / 3;
    margin-top: 0;
  }
  .info {
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
  }
  .overview {
    grid-area: 3 / 1 / 4 / 3;
  }

  .backButton {
    position: absolute;
    top: calc(-55px - 1rem);
    right: 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  .image {
    grid-area: 3/1/4/3;
  }
  .info {
    grid-area: 1/1/2/3;
  }
  .overview {
    grid-area: 2/1/3/3;
  }
}
