.main.unauth {
  background-image: linear-gradient(
      var(--background),
      transparent,
      var(--background)
    ),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./zgeTuV.jpg");
  background-size: cover;
}

.main.auth {
  background-color: var(--background);
}

.main {
  padding: calc(20px + 5rem) 0 0;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 150px);
}

.content {
  flex: 1 0 auto;
  position: relative;
}

.footer {
  padding-top: 15px;
  min-height: 40px;
  width: 100%;
  background-color: #353535;
  color: #808080;
  font-size: 14px;
}

.footer img {
  margin: 5px 5px 0;
}

.header {
  width: 100%;
  height: calc(20px + 5rem);
  position: fixed;
  top: 0;
}

.header .logo {
  position: fixed;
  top: calc(10px + 1rem);
  left: 3.5rem;
}

.header .button {
  position: fixed;
  top: calc(10px + 1rem);
  right: 3.5rem;
}

.header.half {
  background: linear-gradient(
    0.25turn,
    var(--background),
    var(--background),
    transparent,
    transparent,
    transparent
  );
}
.header.full {
  background: linear-gradient(
    var(--background),
    var(--background),
    var(--background),
    var(--background),
    transparent
  );
}
.header.transparent {
  background-color: transparent;
}
