.input {
  --top-padding: 20px;
  --side-padding: 10px;

  position: relative;
}

.input label {
  background-color: transparent;
  z-index: 0;
  color: var(--gray);
  position: absolute;
  top: calc(50% - 12px);
  left: 10px;
  font-size: 16px;
}

.input input {
  background-color: transparent;
  z-index: 1;
  width: calc(100% - var(--side-padding) * 2);
  height: calc(100% - var(--top-padding));
  border: none;
  color: inherit;
  font-size: 16px;
  padding: var(--top-padding) var(--side-padding) 0;
  outline: none;
}

.input label.focused {
  font-size: 14px;
  top: calc(50% - 25px);
}

.input input.error {
  border-bottom: 2px solid #ffa00a;
  height: calc(100% - var(--top-padding) - 2px);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.errorText {
  font-size: 14px;
  color: #ffa00a;
  position: absolute;
  top: 100%;
  left: 0;
}
